.message {
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  width: 95%;
  cursor: pointer;
  border-left: 5px solid #0b8428;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.message:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.message h4 {
  font-size: 12px;
}
.message p {
  font-size: 12px;
}
.message span {
  font-size: 12px;
  color: #0b8428;
}
.message .row {
  display: flex;
  justify-content: space-between;
}
.incHeight {
  height: 100px;
}
